apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: kubia
spec:
  template:
    metadata:
      name: kubia
      labels:
        app: kubia
    spec:
      containers:
      - image: fbworkshop.azurecr.io/module3/kubia:v2
        name: nodejs
